In [1]:
#Dependencies
import pandas as pd
import numpy as np
import csv

In [2]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func
# Import modules to declare columns and column data types
from sqlalchemy import Column, Integer, String, Float
# Import and establish Base for which classes will be constructed 
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [3]:
clean_measurements_df=pd.read_csv('clean_measurements')
clean_stations_df=pd.read_csv('clean_stations')

In [4]:
engine = create_engine("sqlite:///hawaii.sqlite", echo=False)
conn = engine.connect()

In [8]:
# Use the Inspector to explore the database and print the table names
### BEGIN SOLUTION
inspector = inspect(engine)
inspector.get_table_names()
### END SOLUTION

['measurement1', 'station']

In [9]:
# Create Measurements and Stations classes
# ----------------------------------
class Measurement(Base):
    __tablename__ = 'measurement'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    date = Column(String(255))
    prcp = Column(Float)
    tobs = Column(Integer)

In [10]:
# Create Measurements and Stations classes
# ----------------------------------
class Station(Base):
    __tablename__ = 'station'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    name = Column(String(255))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

In [11]:
# Create both the Surfer and Board tables within the database
Base.metadata.create_all(conn)

In [ ]:
# Adding measurement data
clean_measurements_df.to_sql(name='measurement', con=conn, if_exists='append', index=False)
# Adding station data
clean_stations_df.to_sql(name='station', con=conn, if_exists='append', index=False)

In [12]:
session = Session(bind=engine)

In [13]:
measurement_list = session.query(Measurement)
for meas in measurement_list:
    print(meas.station)
    print(meas.date)
    print(meas.tobs)

In [14]:
# Use the Inspector to explore the database and print the table names
### BEGIN SOLUTION
inspector = inspect(engine)
inspector.get_table_names()
### END SOLUTION

['measurement', 'measurement1', 'station']

In [16]:
# Use `engine.execute` to select and display the first 10 rows from the emoji table
### BEGIN SOLUTION
engine.execute('SELECT * FROM measurement1 LIMIT 10').fetchall()
### END SOLUTION

[(0, 0, 'USC00519397', '2010-01-01', 0.08, 65),
 (1, 1, 'USC00519397', '2010-01-02', 0.0, 63),
 (2, 2, 'USC00519397', '2010-01-03', 0.0, 74),
 (3, 3, 'USC00519397', '2010-01-04', 0.0, 76),
 (4, 4, 'USC00519397', '2010-01-06', None, 73),
 (5, 5, 'USC00519397', '2010-01-07', 0.06, 70),
 (6, 6, 'USC00519397', '2010-01-08', 0.0, 64),
 (7, 7, 'USC00519397', '2010-01-09', 0.0, 68),
 (8, 8, 'USC00519397', '2010-01-10', 0.0, 73),
 (9, 9, 'USC00519397', '2010-01-11', 0.01, 64)]

In [17]:
# Use `engine.execute` to select and display the first 10 rows from the emoji table
### BEGIN SOLUTION
engine.execute('SELECT * FROM station LIMIT 10').fetchall()
### END SOLUTION

[(0, 0, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0),
 (1, 1, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6),
 (2, 2, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0),
 (3, 3, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9),
 (4, 4, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6),
 (5, 5, 'USC00519523', 'WAIMANALO EXPERIMENTAL FARM, HI US', 21.33556, -157.71139, 19.5),
 (6, 6, 'USC00519281', 'WAIHEE 837.5, HI US', 21.45167, -157.84888999999995, 32.9),
 (7, 7, 'USC00511918', 'HONOLULU OBSERVATORY 702.2, HI US', 21.3152, -157.9992, 0.9),
 (8, 8, 'USC00516128', 'MANOA LYON ARBO 785.2, HI US', 21.3331, -157.8025, 152.4)]